@use './utilities/variables' as *;
$table-border: #ddd;


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $Secundario;
  position: relative;
  
  table {

    width: 90%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: $Primario;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
    th, td {
      padding: 5px 20px;
      border: 1px solid $table-border;
    }

    th {
      background-color: $Elementos;
      color: $Primario;
      font-size: 16px;
      text-transform: uppercase;
    }

    tr:nth-child(even) {
      background-color: $Primario;
      transition: background-color 0.3s ease;
    }

    tr:hover {
      background-color: darken($Secundario, 10%);
    }
  }

  .botonNoAceptados {
    position: absolute;
    top: 5%; 
    left: 10%; 
    padding: 10px 20px;
    background-color: $Elementos;
    color: $Primario;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($Elementos, 10%);
    }
  }
  .botonBajaUsuario {
    flex: 1; /* Hace que los botones se estiren y tengan el mismo tamaño */
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color:red;
    font-size: 1rem;
    cursor: pointer;
    background-color: $Secundario;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;  // Evita saltos de línea
    overflow: hidden;
    &:hover {
      background-color: darken(white, 10%);
    }
  }

  .delete-button {
    background-color: transparent;
    color: red;
    font-weight: bold;
    border: 2px solid $Elementos;
    padding: 6px 10px;

    &:hover {
      background-color: $Elementos;
      color: $Primario;
    }
  }

  a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: $Elementos;
    font-weight: bold;
    text-align: center;
  }
  
}

