.carrusel {
  width: 100%;
  height: 100vh; // Siempre ocupa la pantalla completa
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.img-carrusel {
  width: 100%;
  height: 100vh; // Mantiene la imagen ocupando la pantalla
  object-fit: cover;
}

.textoCarruselInicio {
  position: absolute;
  top: 5%; // Posiciona el texto en la parte superior
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

/* 📌 Responsividad */
@media (max-width: 1024px) {
  .button-group {
    position: static; // En móviles y tablets, los botones van debajo del carrusel
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
