$primary-bg: #2d3748; // Fondo gris oscuro
$primary-color: #fff; // Color de texto blanco
$user-name-color: #e53e3e; // Color rojo para el nombre del usuario (opcional)

// Navbar estilos
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-bg;
  color: $primary-color;
  padding: 1rem;
  
  h1 {
    font-size: 1.25rem; // text-xl en Tailwind
    font-weight: bold; // text-bold en Tailwind
  }

  .user-name {
    color: $user-name-color;
    margin-right: 1rem; // Espaciado entre el nombre y el botón de Cerrar Sesión
    font-weight: 600; // Ajustar el peso de la fuente si es necesario
    font-size: 1rem; // Ajustar tamaño del texto según el diseño
  }

  .logout-btn {
    cursor: pointer;
    &:hover {
      color: #e53e3e; // Un color rojo al hacer hover sobre el botón
    }
  }
}
