$primary-bg: #2d3748; // Fondo gris oscuro
$primary-color: #fff; // Color de texto blanco
$user-name-color: #e53e3e; // Color rojo para el nombre del usuario

// Navbar estilos
.navbar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: $primary-color;
  padding: 1rem;
  width: 100%; // Para que el navbar se expanda de margen a margen 

    .logo {
      height: 40px; // Ajusta el tamaño del logo según sea necesario
      margin-left: 3rem;
    }

  .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; // Empuja esta sección a la derecha
    margin-right: 2rem;

    .user-name {
      color: $user-name-color;
      margin-right: 1rem; // Espacio entre el nombre y el botón
      font-weight: 600;
      font-size: 1rem;
    }

    .logout-btn {
      display: flex; 
      align-items: center; 
      border-radius: 0.375rem;
      cursor: pointer;
      color: white;
      font-size: 1rem;
      padding: 0.3rem 0.7rem;
      transition: background-color 0.2s ease-in-out;
      border: none;
      background-color: #000000;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #e53e3e;
      }
    }
  }
}
