@use './utilities/variables' as *;

.register {

    background-image: url('../img/trafico.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: $Primario;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: $Secundario;
        margin-bottom: 15px;
        text-align: center;
        color: black;

    }

    input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        color: black;

    }

    button {
        width: 100%;
        padding: 12px;
        background-color: grey;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;

        &:hover {
            background-color: $Texto;
        }
    }

    label {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .stepNavigation {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .message {
        text-align: center;
        color: $Elementos;
        font-weight: 500;
        margin-top: 20px;
    }
}

// **Media Queries para Responsividad**
@media (max-width: 767px) { // Móviles
    .authForm {
        width: 90%;
        max-width: 320px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { // Tablets
    .authForm {
        width: 80%;
        max-width: 350px;
        padding: 18px;
    }
}


